@import "tailwindcss";
@layer components{
   .nav_link{
     @apply 
  relative text-base font-medium w-fit block text-white
                         after:block after:absolute after:h-[3px] after:bg-[#246ef7] after:w-full
                         after:scale-x-0 hover:after:scale-x-100 after:transition after:duration-300 after:origin-right
    }
    .text-bg {
      background-image: linear-gradient(to right ,#4c89f8 25% ,#1f09e9 100%) ;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}